/vendor/
.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/exports/*
!/storage/exports/.gitkeep
/storage/imports/*
!/storage/imports/.gitkeep
/storage/mail/*
!/storage/mail/.gitkeep
/storage/rate_limit/*
composer.lock
.idea/
.vscode/
*.log
.phpunit.cache/
/build/
